body {
    width:90%;
    margin:auto;
    text-align: center;
}

div.box {
    max-width:48%;
    border: 1px solid #000000;
    margin: 5px;
    padding:3px;
    display: inline-block;
}

.error {
    color: red;
}
.leftMenu {
    float:left;
    width:20%;
}

#mainTemplate {
    float: right;
    width: 80%;
}

ul.byCat {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    border: none;
    display: inline-block;
}
.byCat li {
    display: block;
    border-right: none;
    background: #43708C;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: -0.03em;
    width: 120px;
    text-align: center;
    height: 40px;
    color: #ffffff;
    border: 1px solid white;
}
.byCat li.active {
    background: #FF6A00;
}

.detail h3 {
    width:48%;
    text-align: center;
    float: right;
}
.detail {
    text-align: left;
    display: inline-block;
    width:100%;
}