<h1>Community Visualization App</h1>
<div class="box">
    <label>Please Choose the data file:</label>
    <br />
    <input type="file" name="files" id="initial" />
</div>

<div class="box">
    <label>Please Choose the communities file:</label>
    <br />
    <input type="file" name="files" id="final" />
</div>

<div id="resultsTemplate"></div>