<h1>Community Detection Algorithms Visualization App</h1>

<label>Please Choose a file to load into the system:</label>
<br />
<input id="load-file" type="file" value="Choose File"/>

{{#each communities}}
    <h3>{{lowercase "Community"}}</h3>
{{/each}}