<h1>Welcome on My Own Bookmarks</h1>
<p>This application will help you manage your bookmarks!</p>
<form>
    <label>Title:</label>
    <input type="text" name="title"/>
    <label>Url:</label>
    <input type="text" name="url"/>
    <input id="add-bookmark" type="submit" value="Add a new bookmark"/>
</form>
<ul></ul>