<select name="{{name}}">
    <option value=""></option>
    {{#each headers}}
        <option value="{{.}}">{{.}}</option>
    {{/each}}
</select>
<a class="delete" href="javascript:void(0);">Remove</a>