<div class="leftMenu">
    <ul class="byCat">
        <li class="active" data-template="attributeCorrelation">Correlation</li>
        <li data-template="randomizationTool">Randomization Tool</li>
    </ul>
</div>

{{#if error}}<p class="error">{{error}}</p>{{/if}}


<div id="mainTemplate"></div>