<div class="filter">
    <label>Select an attribute to view it in more detail</label>
    <form class="options"><p>
        {{#if included}}
            <a href="javascript:void(0)" class="restore">Show all attributes</a>
        {{else}}
            <a href="javascript:void(0)" class="calculate">Get community defining attributes</a>
        {{/if}}
    </p></form>

    {{#if sorter}}
        <div class="filters">
            <div class="columns2">
                {{#is sorter "total"}}
                    <a href="javascript:void(0)" class="sortByRandom">Sort questions by non-random chance</a>
                {{else}}
                    <a href="javascript:void(0)" class="sortByCorrelation">Sort questions by correlation probability</a>
                {{/is}}
            </div>
            <div class="columns2">
                <p>Only show correlation probability above
                    <input type="text" id="correlationFilter" value="{{correlationFilter}}" />%
                </p>
                <p>Only show non-random probability above
                    <input type="text" id="randomFilter" value="{{randomFilter}}" />%
                </p>
            </div>
        </div>
    {{/if}}
</div>
<h3 class="question"></h3>

<div class="detail"></div>