<div class="filter">
    <label>Select an attribute to view it in more detail</label>
    <form class="options"></form>
    {{#if included}}
        <a href="javascript:void(0)" class="restore">Show all attributes</a>
    {{else}}
        <a href="javascript:void(0)" class="calculate">Get community defining attributes</a>
    {{/if}}
</div>
<h3 class="question"></h3>

<div class="detail"></div>