<h4>{{title}}</h4>
{{#if data}}
    {{#each data}}
        <span class="filter">{{.}} <span class="remove" data-group="{{.}}">&#9747;</span></span>
    {{/each}}
{{/if}}
{{#if options}}
    <form>
        <select name="new">
            {{#each options}}
                <option>{{.}}</option>
            {{/each}}
        </select>
    </form>
    <button class="add">Add</button>
{{/if}}
