<h4>{{title}}</h4>
{{#if data}}
    {{#each data}}
        <span title="{{title}}" class="filter">{{question}} <span class="remove" data-group="{{question}}">&#9747;</span></span>
    {{/each}}
{{/if}}
{{#if editable}}
    <form>
        <span class="questionSelect"></span>
    </form>
    <button class="add">Add</button>
{{/if}}