<table class="sortable">
    <thead>
        <tr>
            {{#eachIndex headers}}<th class="attribute header" title="This is my tooltip" data-key="{{item}}">{{item}}
                <span class="sorter">
                    {{#is index ../sorter}}
                        {{#is ../../order "asc"}}&#65516;
                        {{else}}&#65514;
                        {{/is}}
                    {{/is}}
                </span>
            </th>{{/eachIndex}}
        </tr>
    </thead>
    <tbody>
        {{#each persons}}
            <tr>
                {{#each .}}
                    <td class="attribute">{{.}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>