<p>New initial data and community data files can be uploaded here. Existing data currently stored in the database will be overwritten</p>
<div class="box initial">
    <label>Please Choose the data file:</label>
    <br />
    <input type="file" name="files" id="initial" />
</div>

<div class="box final">
    <label>Please Choose the communities file:</label>
    <br />
    <input type="file" name="files" id="final" />
</div>